.jumbotron {
    padding-top: 6rem;
    background-color: #777777;
}

#projects {
    background-color: #777777;
}

section p {
    text-align: justify;
}

section {
    padding-top: 5rem;
}

footer {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
}